.form{
	.title{
		font-size: 1.6rem;
  	text-align: center;
  	padding: 10px 0;
  	font-weight: 400;
	}
	.ipt{
		display: block;
		margin: 5px auto;
		width: 90%;
		border: 1px solid @c_red;
		background: 11px center no-repeat #fff;
		border-radius: 6px;
		text-indent: 30px;
		height: 44px;
  	line-height: 44px;
	}
}