* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 320px;
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
}
h1, h2, h3, h4 {
    font-weight: normal;
    font-size: 1.2rem;
}
input, select {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    -webkit-appearance: none;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
.clear {
    display: block;
    content: ' ';
    clear: both;
}